.blog-container {
  display: flex;
  gap: 40px;
  padding: 60px;
}

.sidebar {
  width: 28%;
}

.sidebar h4 {
  margin-bottom: 15px;
}

.author-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.author-text {
  font-size: 14px;
  color: #555;
  margin: 15px 0 30px;
  line-height: 1.6;
}

.recent-title {
  margin-bottom: 10px;
}

.recent-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.recent-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.small-date {
  font-size: 11px;
  color: gray;
}

.small-title {
  font-size: 14px;
  font-weight: 500;
}

.blog-list {
  width: 72%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 0;
}

.img-box {
  width: 95%;
  height: 280px;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.img-box img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.blog-content {
  width: 95%;
}

.date {
  font-size: 12px;
  color: gray;
}

.blog-content h2 {
  margin: 10px 0;
  font-size: 22px;
  cursor: pointer;
}

.blog-content h2:hover {
  color: #ae3f4f;
}

.blog-content p {
  font-size: 14px;
  color: #555;
}

.blog-content button {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 18px;
  background: #ae3f4f;
  color: white;
  border: none;
  cursor: pointer;
}

.blog-content button:hover {
  background: black;
}

.tags-title {
  margin-top: 30px;
}

.tags span {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ddd;
  font-size: 14px;
  cursor: pointer;
}

.promo {
  margin-top: 30px;
  position: relative;
}

.promo img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .blog-container {
    flex-direction: column-reverse;
  }

  .sidebar,
  .blog-list {
    width: 100%;
  }

  .blog-card {
    flex-direction: column;
  }

  .img-box {
    width: 100%;
    height: 220px;
  }

  .blog-content {
    width: 100%;
  }

  .recent-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .recent-item img {
    width: 100%;
    height: 150px;
  }
}
