.slider-wrapper .slide {
  display: flex;
  height: 500px;
}

.slider-wrapper .content {
  width: 50%;
  padding: 120px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-wrapper .tag {
  letter-spacing: 2px;
  font-size: 12px;
  color: gray;
}

.slider-wrapper .content h2 {
  font-size: 32px;
  margin: 10px 0;
}

.slider-wrapper .meta {
  font-size: 14px;
  color: gray;
}

.slider-wrapper .desc {
  /* margin: 15px 0; */
  color: #555;
}

.slider-wrapper button {
  width: fit-content;
  padding: 10px 18px;
  background: #ae3f4f;
  color: white;
  border: none;
  cursor: pointer;
}
.slider-wrapper button:hover {
  background-color: black;
}

.slider-wrapper .image {
  width: 50%;
}

.slider-wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-wrapper {
  position: relative;
  margin-top: 0;
}

.slider-wrapper .custom-prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f3f3f3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.slider-wrapper .custom-next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f3f3f3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.slider-wrapper .custom-prev:hover,
.slider-wrapper .custom-next:hover {
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 768px) {
  .slider-wrapper .slide {
    flex-direction: column;
    height: auto;
  }

  .slider-wrapper .content {
    width: 100%;
    padding: 30px 20px;
    order: 1;
  }

  .slider-wrapper .image {
    width: 100%;
    height: 300px;
    order: 2;
  }

  .slider-wrapper .image img {
    height: 100%;
  }

  .slider-wrapper .custom-prev,
  .slider-wrapper .custom-next {
    top: 50%;
    transform: translateY(-50%);
  }
}
